// $background-color: #73946B;
// $dark-green: #537D5D;
// $text-color: rgb(240, 255, 239);
// $light-green: #9EBC8A;
// $button-green: #D2D0A0;
//
$background-color: #1a1d2e;
$background-card-list: #0a0c18;
$background-card: #1a1d2e;
$text-color: #f1f2f9;
$color-grey: #858585;
$green: #337a42;
$red: #a52828;
$light-green: #948979;

$button-color: #4600df;
