// $background-color: #73946B;
// $dark-green: #537D5D;
// $text-color: rgb(240, 255, 239);
// $light-green: #9EBC8A;
// $button-green: #D2D0A0;
// 
$background-color:  #1a1d2e;
$background-card-list: #0F1121;
$text-color: #F1F2F9;
$text-color-grey: #b8b8b8;
$light-green: #948979;
$background-card: #1a1d2e;
$button-color: #905BFF;