// $background-color: #73946B;
// $dark-green: #537D5D;
// $text-color: rgb(240, 255, 239);
// $light-green: #9EBC8A;
// $button-green: #D2D0A0;

$background-color: #948979;
$dark-green: #393E46;
$text-color: rgb(240, 255, 239);
$light-green: #948979;
$button-green: #DFD0B8;